@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;900&display=swap');



@media screen and (min-width: 768px) {
    .card {
            font-size: 1rem;
    }
}




* {
    font-family: Poppins, Roboto, Arial, Helvetica, sans-serif;
    color: #212121;
    box-sizing: border-box;
}




body {
margin: auto;
width: 50%;
display:flex;
height: 100vh;
}







.headline, .intro {
    box-sizing: border-box;
    font-weight: 500;
    display: block;
    max-width: 22rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-size: 40px;
}

button {
    color: #212121;
    font-size: .8rem;
    font-weight: 500;
    background-color: white;
    border: solid .15rem #212121;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.btn {
    margin-top: .8rem;
    margin-bottom: .8rem;
    margin-right: 1.5rem;
}

.social {
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
}

.social-icons {
    margin-right: 1rem;

}


.icon {
    margin-right: 1rem;
}

.skill {
    display: inline-flex;
    margin-right: .9rem;
}

.say-hello {
    text-decoration: none;
    font-weight: bold;
}

.slider-wrapper {
    width: 500px;
    height: 375px;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
}


.slider-inner {
    position: absolute;
    top: 0;
    left: 0px;
    display: flex;
    pointer-events:none;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.slider-card {
    position: relative;
    background-color: #979797;
    white-space: normal;
    box-sizing: border-box;
    border: solid .1rem #212121;
    height: 375px;
    width: 250px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    color: white;
}

.slider-wrapper .prev, .slider-wrapper .next{
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    line-height: 58px;
    color: black;
    font-size: 40px;
    cursor: pointer;
}

.slider-wrapper .prev {
    left: 10px;
}

.slider-wrapper .next {
    right: 10px;
}


@media screen and (max-width: 770px){
    .slider-wrapper .prev, .slider-wrapper .next {
        display: none;
    }
}
